# Droppings of various tools, not for the record
*.class
*.war
*.log
*.pyc
*.pyd
*.pyo
*.orig
*.rej
*.swp
*.tmp
\#*
*~

*.lock
*.cache
*.egg-info/
data/templates/
/.#

# sphinx-related patterns:
build/
Makefile
